@charset "utf-8";
/*css document*/

.hidden
{
	display: none;
}

body
{
	background: rgb(201,201,201) no-repeat; /* Old browsers */
	background: -moz-linear-gradient(top, rgba(201,201,201,1) 0%, rgba(255,255,255,1) 65%, rgba(255,255,255,1) 100%) no-repeat; /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(201,201,201,1) 0%,rgba(255,255,255,1) 65%,rgba(255,255,255,1) 100%) no-repeat; /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(201,201,201,1) 0%,rgba(255,255,255,1) 65%,rgba(255,255,255,1) 100%) no-repeat; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9c9c9', endColorstr='#ffffff',GradientType=0 ) no-repeat; /* IE6-9 */
}



.container
{
	margin: 0 auto;
	width: 1000px;

/*	background-color: red;*/
}

.mainHeader
{
	width: 1000px;
	/*background-color: green;*/
	display: flex;
	flex-direction: column;
}


h1
{
	margin: 0 auto;
	font-family: 'Poppins', sans-serif;
	font-size: 40px;
	margin-top: 40px;
}

h2
{
	font-family: 'Poppins', sans-serif;
	font-size: 15px;
	margin-left: 250px;
	margin-top: 50px;
}

h2 span
{
	font-family: 'Major Mono Display', monospace;
	font-size: 30px;
	border-top: solid 4px;
	border-bottom: solid 4px;
	margin-left: 50px;
	padding-top: 6px;
	padding-bottom: 6px;

}

.icons
{
	width: 800px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;

}

.iconCon1
{
	margin-top: 100px;

}


.iconCon1, .iconCon2
{
	width: 800px;
	height: 200px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;

}

.svgCon
{
	width: 100px;
	height: 100px;
}

svg
{
	width: 120px;
	height: 120px;
}

















